<h2>Add Your Pool</h2>

<form method="post" action="/pools/create">
    <label> Name:
        <input type="text" name="name" required />
    </label>
        <br>
{{!-- add location --}}
        <label> Address:
            <input type="text" name="address"/>
        </label>
        <label> Post Code: 
            <input type="text" name="postalCode" />
        </label>
        <label> City: 
            <input type="text" name="city" required />
        </label>
        <br>

        <label for="pools">Available pool size (required)</label>
        <select name="poolSize" id="pools" required>
            <option value="25m">25m</option>
            <option value="50m">50m</option>
            <option value="both">Both 25m and 50m</option>
        </select>

        <label> Description:
            <textarea name="description" cols="30" rows="4"> </textarea>
        </label>
        <br>
        <label> Rating:
            <input type="number" name="rate" min="1" max="10" />
        </label>
        <br>
    <br>
    <br>
        <button type="submit"> Create </button>
</form>