<h2>Add Your Pool</h2>

<form method="post" action="/pools/create">
    <label> Name:
        <input type="text" name="name" />
        <br>
{{!-- add location --}}
        <label> Address:
            <input type="text" name="location.address" />
            <input type="text" name="location.postalCode" />
            <input type="text" name="location.city" />
        <br>
        <label for="pools">Available pool size </label>
        <select name"poolSize" id="pools">
    
            {{!-- what the user sees between the tags is the name of the pool, but what is transmitted in the body
            (value) is the _id --}}
            <option value="25m">25m</option>
            <option value="50m">50m</option>
            <option value="both">Both 25m and 50m</option>
        
        </select>

        <label> Description:
            <textarea name="description" cols="30" rows="4"> </textarea>
        </label>
        <br>
        <label> Rating:
            <input type="number" name="rating" min="1" max="10" />
        </label>
        <br>
    <br>
    <br>
        <button type="submit"> Create </button>
</form>